# 업로드 / 미디어 파일
backend/uploads/
uploads/
*.mp4
*.mov
*.avi
*.mkv
*.webm
temp_audio.mp3 # 변환용 임시 파일

# 데이터베이스
*.db # 기록파일 충돌방지 및 버전관리

# 환경변수
.env

# AWS 키 파일
*.pem

# 가상환경
.venv/
.venv311/
backend/.venv311/

# 파이썬 캐시
__pycache__/
*.pyc
*.pyo
*.pyd