# 1. 파이썬 캐시
__pycache__/
*.pyc
*.pyo
*.pyd

# 2. 데이터베이스
*.db
*.sqlite3
presentation.db

# 3. 가상환경
.venv/
.venv311/
backend/.venv311/

# 4. 영상 및 업로드 임시 파일
uploads/
backend/uploads/
temp_audio.mp3
*.mp4
*.mov
*.avi
*.mkv
*.webm

# 5. 보안 및 환경변수 (절대 올라가면 안 되는 것들)
#api키
.env
# AWS 키
*.pem