* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    #eef8f5 0%,
    #f8fcfa 40%,
    white 100%
  );
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}